@import url('../resources/__logo/resources__logo.css');
@import url('../resources/__logo-zone/resources__logo-zone.css');
.resources {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
